

.gris{
    background-color: #212225;
}

.logo:hover img{
    transform: scale(1.2) rotate(180deg);
    transition: all 0.4s ease-in-out;

}
.logo:hover {
    background-color: #39cb2913;
    border-radius: 2px;
    transition: all 0.4s ease-in-out;
}
.logo:not(:hover) img{
    transform: scale(1) rotate(0deg);
    transition: all 0.3s ease-in-out;
}

.grisClaro{
    background-color: #2A2B2E;
}
.verde{
    color: #007222;
}

.gradiente{
    background: linear-gradient(0deg,rgba(33, 34, 37, 1) 0%, rgba(42, 43, 46, 1) 100%);
    height: 4px;
    width: 100vw;
}

.gradiente2{
    background: linear-gradient(180deg,rgba(33, 34, 37, 1) 0%, rgba(42, 43, 46, 1) 100%);
    height: 4px;
    width: 100vw;
}

img{
    width: 75px;
    height: 80px;
    padding: 10px;
}

.botonera > button{
    min-width: 100px;
    min-height: 100px;
    cursor: pointer;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 20px;
}

#btnReiniciar {
    background-image: url(Recursos/B2.png);
}
#btnReiniciar:active {
    background-image: url(Recursos/B2P.png);
}

#btnApagar{
    background-image: url(Recursos/B1.png);
}
#btnApagar:active {
    background-image: url(Recursos/B1P.png);
}

#btnAnuncio{
    background-image: url(Recursos/B3.png);
}
#btnAnuncio:active {
    background-image: url(Recursos/B3P.png);
}


.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Contenido del modal */
  .modal-contenido {
    background-color: #212225;
    padding: 20px;
    position: absolute;
    top: 0; right: 0; bottom: 0;
    border: 1px solid #131313;
  }
  
  /* Botón de cerrar */
  .cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .cerrar:hover,
  .cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }