@import url('https://fonts.googleapis.com/css2?family=Anta&family=Orbitron:wght@600&family=Viga&display=swap');

body *{
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main{
    height: 80vh;
}

header i:hover{
    color: #46ff3c;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
i:not(:hover) {
    transform: scale(1.0);
    transition: all 0.3s ease-in-out;
}


.gris{
    background-color: #212225;
}

.logo:hover img{
    transform: scale(1.2) rotate(180deg);
    transition: all 0.4s ease-in-out;

}
.logo:hover {
    background-color: #39cb2913;
    border-radius: 2px;
    transition: all 0.4s ease-in-out;
}
.logo:not(:hover) img{
    transform: scale(1) rotate(0deg);
    transition: all 0.3s ease-in-out;
}

.grisClaro{
    background-color: #2A2B2E;
}
.verde{
    color: #007222;
}

.Fila{
    justify-content: space-between; 
}

img{
    width: 75px;
    height: 80px;
    padding: 10px;
}



.botonera{
    border-radius: 20px 0px 0px 20px;
    padding: 0px    20px;
}
.botonera, .server-status, .ZonaJugadores{
    height: 220px;
    background-color: #18181A;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.server-status, .ZonaJugadores{
    border-radius:0px 20px 20px 0px;
}



.boton{
    margin-top: 40px;
    margin-left: 20px;
}

.estadisticas{
    margin-right: 40px;
    margin-top: -20px;
}


.boton p{
    opacity: 0;
}
 
.boton:hover p{
    transition: 1s;
    opacity: 1;

}

.boton button{
    width: 150px;
    height: 150px;
    cursor: pointer;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button:hover{
    box-shadow: #ff403c 0px 0px 20px 0px;
    transform: scale(1.05);
    transition: all 0.3s ;

}
button:not(:hover) {
    transform: scale(1);
    transition: all 0.3s ;
}

#btnReiniciar {
    background-image: url(Recursos/B2.png);
}
#btnReiniciar:active {
    background-image: url(Recursos/B2P.png);
}

#btnApagar{
    background-image: url(Recursos/B1.png);
}
#btnApagar:active {
    background-image: url(Recursos/B1P.png);
}

#btnAnuncio{
    background-image: url(Recursos/B3.png);
}
#btnAnuncio:active {
    background-image: url(Recursos/B3P.png);
}


.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Contenido del modal */
.modal-contenido {
    background-color: #212225;
    padding: 20px;
    position: absolute;
    top: 0; right: 0; bottom: 0;
    border: 1px solid #131313;
}

/* Botón de cerrar */
.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-contenido textarea{
    margin-top: 20px;
    width: 100%;
    height: 70%;
    border-radius: 10px;
    background-color: #363636;
    color: white;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.modal-contenido button{

    background-color: #353131;
    border-radius: 10px;
    color: white;
    margin: 10px 0px;
    padding: 10px;
}

.cajaBotonera, .cajaStatus, .cajaJugadores{
    height: 100%;

    background-color: #2A2B2E;

    color: #007222;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin:  0px 30px;
    width: 200px;

}

.cajaBotonera img{
    height: 120px;
    width: 110px;
}
.cajaStatus i, .cajaJugadores i{
    color:#212225;
    font-size: 5em;
}

.panel{
    background-image: url(Recursos/Panel.png);
    width: 490px;
    background-size: cover;
    transform: scale(1.2);
}

.ZonaJugadores{
    width: 40%;
}


.registro{
    background-color:#18181A ;
    color: #007222;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    width: 200px;
    border-radius: 30px;
}
.registro input{
    padding: 10px;
    border-radius: 10px;
    background-color: #363636;
}

.registro button{
    padding: 10px;
    border-radius: 10px;
    background-color: #6a6969;
    color: white;
    width: 200px;
}
